    .btn {
        height: 42px;
        border: none;
        background: #3a7999;
        color: #f2f2f2;
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
        position: relative;
        box-sizing: border-box;
        transition: all 500ms ease;
        width: 105px;
    }
    
    .btn:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 42px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        transition: all 2s ease;
    }
    
    .btn:hover:before {
        width: 100%;
    }
    
    @media only screen and (min-width: 700px) {
        tr {
            font-size: 1.3em !important;
            /*К О М П Ы*/
        }
        td {
            font-size: inherit !important;
        }
        th {
            font-size: inherit !important;
        }
        h2 {
            font-size: 2rem !important;
        }
        .logo {
            font-size: 1.4rem !important;
        }
        .container-fluid {
            padding-left: inherit !important;
            padding-right: inherit !important;
        }
        header {
            height: inherit;
        }
    }
    
    header {
        height: 2.4rem;
    }
    
    .logo {
        font-size: .7rem;
        padding: .1rem !important;
    }
    
    tr {
        font-size: 0.9em;
    }
    
    .container-fluid {
        overflow-x: hidden;
    }
    
    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    h2 {
        font-size: 1.3rem;
    }
    
    th,
    td {
        text-align: center;
        font-size: .7rem;
    }
    
    tr :nth-child(1) {
        text-align: left;
    }
    
    th:nth-child(6) {
        text-align: left;
        padding-left: 6%;
    }
    
    tr :nth-child(7) {
        text-align: left;
        padding-left: 6%;
    }
    
    input:focus {
        border-color: #777 !important;
        background-color: #777 !important;
        height: 80%;
        color: #fff !important;
    }